@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  background-color: hsl(0, 100%, 74%);
  background-image: url(../images/bg-intro-desktop.png);
}

.app {
  margin: 0 12%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.heading {
  max-width: 32.8125rem;
}
.heading h1 {
  color: #FFFFFF;
  font-size: 3.125rem;
  line-height: 3.4375rem;
  font-weight: 500;
}
.heading p {
  color: #FFFFFF;
  line-height: 1.625rem;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  width: 32.625rem;
}
.main .try-free {
  background-color: hsl(248, 32%, 49%);
  color: #FFFFFF;
  text-align: center;
  box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
  border-radius: 0.625rem;
}
.main .try-free span {
  font-weight: 700;
}
.main .form {
  background: #FFFFFF;
  box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
  border-radius: 0.625rem;
  padding: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main .form input {
  border: 1px solid #DEDEDE;
  border-radius: 0.3125rem;
  width: 28.75rem;
  padding: 1rem 2rem;
  font-weight: 600;
  color: hsl(249, 10%, 26%);
}
.main .form input:focus {
  outline: none;
  border: 1px solid hsl(248, 32%, 49%);
  opacity: 1;
}
.main .form ::-moz-placeholder {
  color: hsl(249, 10%, 26%);
  font-size: 0.875rem;
  font-weight: 600;
  opacity: 0.75;
}
.main .form ::placeholder {
  color: hsl(249, 10%, 26%);
  font-size: 0.875rem;
  font-weight: 600;
  opacity: 0.75;
}
.main .form .input--div {
  position: relative;
  margin-bottom: 1.25rem;
}
.main .form .input--div img {
  position: absolute;
  top: 0.9rem;
  right: 1.5rem;
}
.main .form .error--input {
  border: 2px solid red;
}
.main .form .error {
  color: hsl(0, 100%, 74%);
  margin: 0;
  margin-top: 0.5rem;
  font-style: italic;
  font-weight: 500;
  font-size: 0.6875rem;
  line-height: 1rem;
  text-align: right;
}
.main .form .submit--btn {
  padding: 0.9375rem 8.4375rem;
  color: #FFFFFF;
  background-color: hsl(154, 59%, 51%);
  border: none;
  width: 28.75rem;
  border-radius: 0.625rem;
}
.main .form .terms--services {
  text-align: center;
  font-size: 0.6875rem;
  line-height: 1.625rem;
  color: hsl(246, 25%, 77%);
  font-weight: 500;
}
.main .form .terms--services a {
  color: hsl(0, 100%, 74%);
  font-weight: 700;
}

@media (max-width: 840px) {
  .app {
    margin: 5.5rem 1.5rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 4rem;
  }
  .heading h1 {
    text-align: center;
    font-size: 3.125rem;
    line-height: 3.4375rem;
  }
  .heading p {
    text-align: center;
    line-height: 1.625rem;
  }
}
@media (max-width: 560px) {
  body {
    background-image: url(../images/bg-intro-mobile.png);
  }
  .app {
    margin: 5.5rem 1.5rem;
    gap: 3rem;
  }
  .heading {
    max-width: 20.43rem;
  }
  .heading h1 {
    font-size: 1.75rem;
    line-height: 2.25rem;
  }
  .main {
    gap: 1.5rem;
    max-width: 20.43rem;
  }
  .main .try-free p {
    width: 12.125rem;
    text-align: center;
    margin: 1rem auto;
    font-size: 0.9375rem;
    line-height: 1.625rem;
  }
  .main .form {
    padding: 1.5rem;
  }
  .main .form input {
    max-width: 17.4375rem;
    padding: 1rem 2rem;
  }
  .main .form ::-moz-placeholder {
    font-size: 0.875rem;
  }
  .main .form ::placeholder {
    font-size: 0.875rem;
  }
  .main .form .input--div {
    position: relative;
    margin-bottom: 1.25rem;
  }
  .main .form .input--div img {
    position: absolute;
    top: 0.9rem;
    right: 1.5rem;
  }
  .main .form .error {
    margin-top: 0.5rem;
    font-size: 0.6875rem;
    line-height: 1rem;
  }
  .main .form .submit--btn {
    padding: 0.9375rem 2.8125rem;
    max-width: 17.4375rem;
  }
  .main .form .terms--services {
    font-size: 0.6875rem;
    line-height: 1.625rem;
  }
}/*# sourceMappingURL=main.css.map */