:root {
    --background: #3b3b4f;
    --div: #1b1b32;
    --font: #f5f6f7;
    --background-mouseover: #5f5f6e;
    --div-mouseover: #31313f;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--background);
    color: var(--font);
    font-family: monospace, Arial, Helvetica, sans-serif;
}

header {
    background-color: var(--div);
    padding: 1rem;
}

main {
    margin: 2rem;
    display: flex;
    justify-content:left;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.heading {
    margin: 0;
}

.challenge-card {
    background-color: var(--div);
    margin: 1rem;
    padding: 2rem;
    width: 30rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
}

.project-link > img {
    object-fit: cover;
    height: 15rem;
}

.project-link {
    text-decoration: none;
}

.project-img {
    width: 25rem;
    border-radius: 2rem;
}

.project-img:hover {
    border: 3px solid red;
}

.project-title {
    text-decoration: none;
    color: var(--font);
    text-align: center;
    margin: 0;
    margin-top: 1rem;
}