//Fonts
@import url(
    'https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700;800&display=swap'
);

//Colors

//Primary

$Light-cyan: hsl(193, 38%, 86%);
$Neon-green: hsl(150, 100%, 66%);

//Neutral

$grayish-blue: hsl(217, 19%, 38%);
$dark-grayish-Blue: hsl(217, 19%, 24%);
$dark-blue: hsl(218, 23%, 16%);