
@import url(
    'https://fonts.googleapis.com/css2?family=Chivo:wght@300;500&display=swap'
    );


$white: #FFFFFF;
$Dark: #121725;
$less-dark: #2C344B;
$gray-dark: #5A668A;
$gray-light: #C2CBE5;
$green: #54E6AF;

%status-msg {
    margin: 0;
    padding-top: 0.3rem;
    padding-left: 1.5rem;
    font-weight: 300;
    font-size: 0.75rem;
}