@import "base";

* {
    box-sizing: border-box;
    font-family: 'Chivo', sans-serif;
}

body {
    margin: 0;
    background-color: $Dark;
    height: 100vh;
    display: flex;
    justify-content: right;
    align-items: center;
}

.app {
    border: 1px solid white;
    width: 79.6875;
    height: 40rem;
    background-image: url(../assets/desktop/image-host.jpg);
    background-repeat: no-repeat;
    background-size: 55.5rem 40rem;
    background-position: right;
    position: relative;
}

.logo {
    position: absolute;
    top: -1.7rem;
    left: 0;
}

.dots {
    position: absolute;
    bottom: -3.7rem;
    right: 0;
}

.main {
    background-color: $Dark;
    width: 45.18rem;
    height: 31.81rem;
    padding-top: 5.5rem;
    padding-right: 3.625rem;
    margin-top: 8rem;
    margin-right: 34.5rem;

    h1 {
        font-weight: 400;
        font-size: 3.25rem;
        line-height: 3.875rem;
        color: $green;
        margin-bottom: 1.5rem;
        margin-top: 5.5rem;
        span {
            color: $white;
        }
    }
}