@import "base";

* {
    box-sizing: border-box;
    font-family: 'Chivo', sans-serif;
}

body {
    background-color: $Dark;
    background-image: url(../assets/desktop/bg-pattern-dots.svg), 
                      url(../assets/desktop/image-host.jpg);
    background-repeat: no-repeat, no-repeat;
    background-size: 14.5rem 6.5rem, 
                     55.5rem 40rem;
    background-position: right 0 top 44.875rem,
                         right 0 top 8.125rem;
    margin: 0;
}

.main {
    background-color: $Dark;
    width: 45.18rem;
    height: 31.81rem;
    margin: 16.3125rem 34.5rem 8.125rem 10.3125rem;
    padding-top: 5.5rem;
    padding-right: 3.625rem;
    h1 {
        font-weight: 400;
        font-size: 3.25rem;
        line-height: 3.875rem;
        color: $green;
        margin-bottom: 1.5rem;
        margin-top: 5.5rem;
        span {
            color: $white;
        }
    }
}