@import "base";

* {
    box-sizing: border-box;
    font-family: 'Chivo', sans-serif;
}

body {
    margin: 0;
    background-color: $Dark;
    height: 100vh;
    display: flex;
    justify-content: right;
    align-items: center;
}

.app {
    background-image: url(../assets/desktop/image-host.jpg);
    background-repeat: no-repeat;
    background-size: 55.5rem 40rem;
    background-position: right;
    position: relative;
    display: grid;
    grid-template-columns: 45.1875rem 34.5rem;
    grid-template-rows: 8.1875rem 31.8125rem;
}

.logo {
    position: absolute;
    top: -1.7rem;
    left: 0;
}

.dots {
    position: absolute;
    bottom: -3.7rem;
    right: 0;
}

.main {
    grid-column: 1 / 2;
    grid-row: 2 / -1;
    background-color: $Dark;
    width: 45.18rem;
    padding-top: 5.5rem;
    padding-right: 3.625rem;
    h1 {
        text-transform: uppercase;
        font-weight: 300;
        font-size: 3.25rem;
        line-height: 3.875rem;
        color: $green;
        margin: 0;
        margin-bottom: 1.5rem;
        span {
            color: $white;
        }
    }
    p {
        font-size: 1.125rem;
        color: $gray-light;
        line-height: 1.75rem;
        width: 27.8125rem;
        margin-bottom: 2.5rem;
        font-weight: 300;
    }
}

.form {
    position: relative;
    width: 26.6875rem;
    input {
        border: none;
        width: 100%;
        background-color: $less-dark;
        border-radius: 1.75rem;
        padding: 1.25rem 2rem;
    }
    ::placeholder {
        color: $white;
        font-size: 0.875rem;
        line-height: 1.75rem;
        font-weight: 400;
        opacity: 0.5;
    }
    .btn {
        position: absolute;
        top: 0.3125rem;
        right: 0.3125rem;
        border: none;
        background-color: $green;
        color: $Dark;
        font-weight: 700;
        font-size: 0.875rem;
        line-height: 1.75rem;
        padding: 0.5625rem 1.6875rem;
        border-radius: 1.75rem;
        top: 0.3125rem;
    }
    margin-bottom: 4rem;
}

.podcasts--apps {
    width: 33.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 1280px) {
    body {
        justify-content: right;
        align-items: baseline;
    }
    .app {
        background-image: url(../assets/tablet/image-host.jpg);
        background-size: 30.6875rem 47.9375rem;
        background-position: right;
        display: grid;
        grid-template-columns: 39.6875rem 5.875rem;
        grid-template-rows: 16.125rem 31.8125rem;
    }
    .logo {
        top: 3.125rem;
        left: 0;
    }
    .dots {
        bottom: -14rem;
        left: 0;
    }
    .main {
        width: 39.6875rem;
        padding-top: 5.5rem;
        padding-right: 0;
        h1 {
            font-size: 3rem;
            line-height: 3.5rem;
            margin-bottom: 1.5rem;
        }
        p {
            font-size: 1.125rem;
            color: $gray-light;
            line-height: 1.75rem;
            width: 27.8125rem;
            margin-bottom: 2.5rem;
            font-weight: 300;
        }
    }
}

@media (max-width: 750px) {
    body {
        justify-content: right;
        align-items: baseline;
        background-image: url(../assets/mobile/image-host.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .app {
        height: 100vh;
        width: 100vw;
        background-color: rgb(18, 23, 37, 0.75);
        background-image: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .logo {
        position: static;
        margin: 3.8rem 0;
    }
    .dots {
        visibility: hidden;
    }
    .main {
        width: 20.4375rem;
        padding: 0;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1 {
            font-size: 3rem;
            line-height: 3.5rem;
            margin-bottom: 1.5rem;
        }
        p {
            font-size: 1.125rem;
            color: $gray-light;
            line-height: 1.75rem;
            width: 27.8125rem;
            margin-bottom: 2.5rem;
            font-weight: 300;
        }
    }
}