@import "./base";

*, *::after, *::before {
    box-sizing: border-box;
}
* {
    margin: 0;
}
body {
    height: 100%;
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
    background-image: url(../images/pattern-curve.svg);
    background-repeat: no-repeat;
    background-position: left bottom;
    display: flex;
    align-items: center;
    justify-content: center;
}
#app {
    width: 75.13rem;
}
.container {
    display: grid;
    grid-template-columns: 50% 50%;
    place-items: center;
    width: 100%;
}
.text {
    position: relative;
    z-index: 2;
    background-image: url(../images/pattern-quotes.svg);
    background-repeat: no-repeat;
    background-position: 5.94rem 0;
    width: 39.6875rem;
    padding-top: 4rem;
    margin-left: 8rem;
}
.testemonial {
    color: $Dark-blue;
    font-size: 2rem;
    font-weight: 300;
    line-height: 2.75rem;
    margin-bottom: 2rem;
    &::before {
        content: '“ ';
    }
    &::after {
        content: ' “';
    }
}
.name {
    color: $Dark-blue;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 2.375rem;
}
.role {
    color: $Grayish_blue;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 2.375rem;
    margin-left: 1rem;
}
.hero-img-div {
    position: relative;
    z-index: 1;
    padding: 3.95rem 5.94rem;
    background-image: url(../images/pattern-bg.svg);
    background-repeat: no-repeat;
}
.hero-img {
    width: 33.75rem;
    height: 33.75rem;
    box-shadow: 0rem 2rem 1.875rem -0.625rem rgba(39, 54, 109, 0.199);
}
.btns {
    width: fit-content;
    position: absolute;
    z-index: 3;
    top: 80%;
    left: 56%;
    box-shadow: 0rem 1rem 1.875rem -0.625rem rgba(70, 96, 187, 0.198567);
}
.btn {
    width: 3.5rem;
    height: 3.5rem;
    border: none;
    background-color: #fff;
}
#prev {
    border-radius: 25px 0 0 25px;
}
#next {
    border-radius: 0 25px 25px 0;
}

@media (max-width: 1135px) {
    #app {
        width: 60rem;
    }
    .text {
        background-position: 5.94rem 0;
        width: 31rem;
        padding-top: 3rem;
        margin-left: 15rem;
    }
    .testemonial {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    .name {
        font-size: 1rem;
    }
    .role {
        font-size: 1.25rem;
        line-height: 2.375rem;
        margin-left: 1rem;
    }
    .hero-img-div {
        padding: 2rem 4rem;
        background-size: 90%;
    }
    .hero-img {
        width: 22.5rem;
        height: 22.5rem;
    }
    .btns {
        top: 80%;
        left: 65%;
    }
    .btn {
        width: 3.5rem;
        height: 3.5rem;
    }
}