@import "./base";

*, *::after, *::before {
    box-sizing: border-box;
}
* {
    margin: 0;
}
body {
    height: 100%;
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
}
.testemonial {
    color: $Dark-blue;
    font-size: 2rem;
    font-weight: 300;
    line-height: 2.75rem;
    &::before {
        content: '“ ';
    }
    &::after {
        content: ' “';
    }
}
.name {
    color: $Dark-blue;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 2.375rem;
}
.role {
    color: $Grayish_blue;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 2.375rem;
    margin-left: 1rem;
}
.btn {
    width: 3.5rem;
    height: 3.5rem;
    border: none;
    border-radius: 25px 0 0 25px;
}
#prev {
    border-radius: 25px 0 0 25px;
}
#next {
    border-radius: 0 25px 25px 0;
}