@import url(
    'https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap'
);

//## Colors

//### Primary
$strong-cyan: #26C2AE;

//### Neutral
$Very-dark-cyan: #00474B;
$Dark-grayish-cyan: #5E7A7D;
$Grayish-cyan: #7F9D9F;
$Light-grayish-cyan: #C5E4E7;
$Very-light-grayish-cyan: hsl(189, 41%, 97%);
$input-bg: #F3F9FA;
$placeholder-color: #9EBBBD;
$White: #FFFFFF;
$custom: #547878;
$reset-active: #9FE8DF;
$reset-off:#0D686D;
$error: #E17457;


%flex--center {
    display: flex;
    justify-content: center;
    align-items: center;
}