@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");
.custom, .tip, .app {
  display: flex;
  justify-content: center;
  align-items: center;
}

*, *::before, *::after {
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

* {
  margin: 0;
}

body {
  height: 100%;
  min-height: 100vh;
  background-color: #C5E4E7;
  display: grid;
  font-family: "Space Mono", monospace;
}

#root {
  place-self: center;
}

.app {
  flex-direction: column;
  gap: 5.49125rem;
}

.logo {
  width: 5.41625rem;
}

.calculator {
  width: 57.5rem;
  height: 30.0625rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100%;
  gap: 3rem;
  padding: 2rem;
  background-color: #FFFFFF;
  box-shadow: 0rem 2rem 2.6875rem rgba(79, 166, 175, 0.200735);
  border-radius: 1.5625rem;
}

.form {
  width: 23.6875rem;
  padding: 0.8125rem 0;
  justify-self: end;
  align-self: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.label {
  font-weight: 700;
  color: #5E7A7D;
  margin-bottom: 0.375rem;
}

.input--div {
  position: relative;
}

.inputs {
  width: 100%;
  border: none;
  background-color: #F3F9FA;
  border-radius: 0.3125rem;
  padding: 0.4rem 1.0625rem;
  text-align: right;
  font-weight: 700;
  font-size: 1.5rem;
  color: #00474B;
}
.inputs:focus {
  outline: 2px solid #26C2AE;
  color: #00474B;
  opacity: 1;
}

.inputs::-moz-placeholder {
  color: #9EBBBD;
  opacity: 0.35;
}

.inputs::placeholder {
  color: #9EBBBD;
  opacity: 0.35;
}

.input-icon {
  position: absolute;
  bottom: 50%;
  left: 1.20375rem;
  transform: translate(0, 50%);
  height: 0.96625rem;
}

.label--tips {
  margin-bottom: 1rem;
}

.tips {
  display: grid;
  grid-template-columns: repeat(auto-fill, 7.3125rem);
  gap: 1rem 0.875rem;
}

.tip {
  background-color: #00474B;
  padding: 0.375rem;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 1.5rem;
  border-radius: 0.3125rem;
  cursor: pointer;
}

.tip-selected {
  background-color: #26C2AE;
}

.custom {
  background-color: transparent;
}

.tip--input {
  text-align: center;
  width: 100%;
  height: 100%;
  border: none;
  background-color: #F3F9FA;
  border-radius: 0.3125rem;
  font-weight: 700;
  font-size: 1.5rem;
  color: #547878;
}
.tip--input:focus {
  outline: none;
  outline: 2px solid #26C2AE;
}

.results {
  width: 25.8125rem;
  height: 26.0625rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2.5rem;
  align-self: center;
  background-color: #00474B;
  border-radius: 0.9375rem;
  color: #26C2AE;
}

.result--numbers--div {
  display: flex;
  flex-direction: column;
  gap: 1.5625rem;
}

.result--numbers {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.result--label--text--01 {
  color: #FFFFFF;
  font-weight: 700;
}

.result--label--text--02 {
  color: #7F9D9F;
  font-weight: 700;
  font-size: 0.8125rem;
}

.result {
  display: flex;
  font-size: 1.5rem;
}

.reset {
  padding: 0.5625rem 0;
  background-color: #0D686D;
  color: #00474B;
  border-radius: 0.3125rem;
  text-align: center;
  font-size: 1.25rem;
}/*# sourceMappingURL=main.css.map */