@import "./base";

@import url(
    'https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap'
);

* {
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
    margin: 0;
}

body {
    background-color: $Very-dark-blue;
    height: 100vh;
    @extend %center;
}

.card--rating {
    background: radial-gradient(
        98.96% 98.96% at 50% 0%,
        #232A34 0%, 
        #181E27 100%);
    border-radius: 1rem;
    width: 25.75rem;
    height: 26rem;
    display: flex;
    flex-direction: column;
    padding: 2em;
    h2 {
        color: $white;
        font-weight: 700;
        font-size: 1.75em;
        margin-bottom: 0.5em;
    }
    p {
        color: $light-grey;
        font-size: 0.9375em;
        line-height: 1.5em;
        margin-bottom: 1.5em;
    }
}

.circle--star {
    background: $dark-blue;
    width: 3rem;
    height: 3rem;
    @extend %ball;
    @extend %center;
    margin-bottom: 1.8em;
}

.rating {
    button {
        background-color: $orange;
        border-radius: 1.4em;
        color: $white;
        font-weight: 700;
        font-size: 0.9375em;
        padding: 0.6875rem 8.5625rem;
        margin-top: 2em;
        &:hover {
            background-color: $white;
            color: $orange;
            cursor: pointer;
        }
    }
}

.grades {
    display: flex;
    gap: 1.3125rem;
}

.circle--grade {
    width: 3.1875rem;
    height: 3.1875rem;
    font-weight: 700;
    @extend %ball;
    @extend %center;
    &:hover {
        background-color: $orange;
        color: $white;
        cursor: pointer;
    }
}

.not-select {
    background: $dark-blue;
    color: $medium-grey;
}

.select {
    background: $medium-grey;
    color: $white;
}

.thankyou {
    @extend %center;
    flex-direction: column;
    img {
        margin-top: 0.8rem;
    }
    .grade {
        @extend %center;
        background-color: $dark-blue;
        border-radius: 1.4rem;
        width: 12rem;
        height: 2rem;
        margin-top: 2rem;
        p {
            margin: 0;
            color: $orange;
            font-size: 0.9375rem;
        }
    }
    h2 {
        font-weight: 700;
        font-size: 1.75rem;
        margin-top: 2rem;
    }
    .thankyou--text {
        font-size: 0.9375rem;
        line-height: 1.5rem;
        text-align: center;
    }
}

