@import "./base";

@import url(
    'https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap'
);

* {
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
}

body {
    margin: 0;
    background-color: $Very-dark-blue;
    height: 100vh;
    @extend %center;
}

.card--rating {
    background: radial-gradient(
        98.96% 98.96% at 50% 0%,
        #232A34 0%, 
        #181E27 100%);
    border-radius: 1rem;
    width: 25.75rem;
    height: 26rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.circle--star {
    background: $dark-blue;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    @extend %center;
}

.grades {
    display: flex;
    gap: 1.3125rem;
}

.circle--grade {
    width: 3.1875rem;
    height: 3.1875rem;
    background: $dark-blue;
    color: $medium-grey;
    font-weight: 700;
    border-radius: 50%;
    @extend %center;
}