@import "./base";


 * {
    box-sizing: border-box;
}   

body {
    margin: 0;
    background-color: $light-gray;
    font-family: 'Outfit';
}

.card {
    background-color: $white;
    height: 497px;
    width: 320px;
    @extend %center;
    border-radius: 20px;
    margin: 152px auto;
    @extend %flex--center
}

#image {
    object-fit: cover;
    height: 288px;
    width: 288px;
    @extend %center;
    margin: 0 16px;
    margin-bottom: 0;
    border-radius: 10px;
}

.div-text {
    @extend %center;
    margin: 0.5rem 1rem;
    text-align: center;
    width: 270px;
    @extend %flex--center
}

.title {
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    color: $dark-blue;
}

.text {
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0.1875px;
    color: $grayish-blue;
    margin-top: 0;
}

.attribution {
    font-size: 11px; text-align: center; 
    a { 
        color: hsl(228, 45%, 44%); 
    }
}