@import "./base";
@import url(
    'https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap'
);

* {
    box-sizing: border-box;
}

body {
    background-color: $very-dark-blue-main-BG;
    font-family: 'Outfit', sans-serif;
    margin: 0;
}

//Card
.nft {
    background-color: $very-dark-blue-card-BG;
    padding: 1.5em;
    width: fit-content;
    border-radius: 1em;
}

.nft-img {
    width: 19rem;
    border-radius: 8px;
}

.heading {
    color: $white;
    font-size: 1.2em;
}

.text {
   color: $soft-blue;
   width: 19rem;
   font-size: 1.1em;
}

.price-time {
    display: flex;
    justify-content: space-between;
    .price-div {
        display: flex;
        align-items: center;
        p {
            color: $cyan;
        }
    }
    .time-div {
        display: flex;
        align-items: center;
        p {
            color: $soft-blue;
        }
    }
}



//avatar

.avatar-div {
    display: flex;
    align-items: center;
}

.avatar-img {
    width: 3rem;
    border: 1px solid $white;
    border-radius: 50%;
}

.avatar-text {
    color: $soft-blue;
    span {
        color: $white;
    }
}

.attribution { 
    font-size: 11px; 
    text-align: center;
    a { 
        color: hsl(228, 45%, 44%); 
    }
}