@import "./base";
@import url(
    'https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap'
);

* {
    box-sizing: border-box;
}

body {
    background-color: $very-dark-blue-main-BG;
    font-family: 'Outfit', sans-serif;
    margin: 0;
}

.app {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 99% 1%;
}

.nft-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

//Card
.nft {
    background-color: $very-dark-blue-card-BG;
    padding: 1.5em;
    width: fit-content;
    border-radius: 1em;
}

.images-container {
    position: relative;
    border-radius: 1em;
    height: 19rem;
    background-color: $cyan;
    cursor: pointer;
    .nft-icon {
        position: absolute;
        right: 8rem;
        bottom: 8rem;
        visibility: hidden;
    }
}

.nft-img {
    width: 19rem;
    border-radius: 8px;
    &:hover {
        opacity: 0.5;
    }
}

.nft-img:hover + .nft-icon {
    visibility: visible;
} 

.heading {
    color: $white;
    font-size: 1.3em;
    &:hover {
        color: $cyan;
        cursor: pointer;
    }
}

.text {
   color: $soft-blue;
   width: 19rem;
   font-size: 1.1em;
}

.price-time {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.7em;
    .price-div {
        display: flex;
        align-items: center;
        gap: 0.7em;
        p {
            color: $cyan;
        }
    }
    .time-div {
        display: flex;
        align-items: center;
        gap: 0.7em;
        p {
            color: $soft-blue;
        }
    }
}



//avatar

.avatar-div {
    display: flex;
    align-items: center;
    padding: 0.7em;
    border-top: 1px solid $very-dark-blue-line;
    gap: 1em;
}

.avatar-img {
    width: 2rem;
    border: 1px solid $white;
    border-radius: 50%;
}

.avatar-text {
    color: $soft-blue;
    margin: 0;
    span {
        color: $white;
        &:hover {
            color: $cyan;
            cursor: pointer;
        }
    }
}

.attribution { 
    font-size: 0.7rem; 
    text-align: center;
    a { 
        color: hsl(228, 45%, 44%); 
    }
}

@media only screen and (max-width: 380px) {
    .images-container {
        height: 17.4rem;
        width: 17.4rem;
    } 
    .nft-img {
        width: 17.4rem;
    }
    .text {
        width: 15rem;
    }
}