@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  background: hsl(0, 0%, 100%) url("../images/bg-main-desktop.png") no-repeat top left;
}

.app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8.75vw;
}

.cards--div {
  position: relative;
  width: 37.5694vw;
  height: 32.9375rem;
  color: hsl(0, 0%, 100%);
  text-transform: uppercase;
}

.card--front--div {
  position: absolute;
  top: 0;
  left: 0;
  background: transparent url("../images/bg-card-front.png") no-repeat center;
  width: 27.9375rem;
  height: 15.3125rem;
  padding: 1.75em 2em 1.65em;
}

.card--logo {
  padding-bottom: 4rem;
}

.card--number {
  margin-bottom: 1.5937rem;
  font-size: 1.75rem;
  line-height: 2.25rem;
  letter-spacing: 0.21388rem;
}

.card--name--date--div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.875rem;
  line-height: 1.125rem;
  letter-spacing: 0.125rem;
}

.card--back--div {
  position: absolute;
  bottom: 0;
  right: 0;
  background: transparent url("../images/bg-card-back.png") no-repeat center;
  width: 27.9375rem;
  height: 15.3125rem;
}

.card--CVC {
  position: absolute;
  top: 6.9375rem;
  right: 3.5625rem;
  font-size: 0.875rem;
  line-height: 1.125rem;
  letter-spacing: 0.125rem;
}

.form {
  width: 26.52vw;
  min-width: 23.875rem;
  display: flex;
  flex-direction: column;
}

.input--div {
  margin-bottom: 1.625rem;
}

.label {
  font-size: 0.75rem;
  line-height: 0.9375rem;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
}

.error--border {
  border: 1px solid hsl(0, 100%, 66%);
}

.normal--border {
  border: 1px solid hsl(270, 3%, 87%);
}

.input {
  padding: 0.6875rem 1rem;
  width: 100%;
  margin-top: 0.5625rem;
  border-radius: 0.5rem;
  font-size: 1.125rem;
  line-height: 1.4375rem;
  color: hsl(278, 68%, 11%);
}
.input:focus {
  outline: none;
  background: linear-gradient(hsl(0, 0%, 100%), hsl(0, 0%, 100%)) padding-box, linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%)) border-box;
  border: 1px solid transparent;
  opacity: 1;
}
.input:hover {
  cursor: pointer;
}

.error {
  color: hsl(0, 100%, 66%);
  margin-top: 0.3rem;
  font-size: 0.75rem;
  line-height: 0.9375rem;
}

#cvc {
  width: 11.93rem;
}

::-moz-placeholder {
  color: hsl(278, 68%, 11%);
  font-size: 1.125rem;
  line-height: 1.4375rem;
  opacity: 0.25;
}

::placeholder {
  color: hsl(278, 68%, 11%);
  font-size: 1.125rem;
  line-height: 1.4375rem;
  opacity: 0.25;
}

.form--expDate--cvc--div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}

.form--expDate--div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0.625rem;
}

.btn {
  border: none;
  background-color: hsl(278, 68%, 11%);
  color: hsl(0, 0%, 100%);
  border-radius: 0.5rem;
  margin-top: 2.5rem;
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
  width: 100%;
  font-size: 1.125rem;
  line-height: 1.4375rem;
}
.btn:hover {
  cursor: pointer;
}

.thankyou--div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 26.4583%;
  max-width: 23.8125rem;
}
.thankyou--div .thankyou--title {
  font-size: 1.75rem;
  line-height: 2.1875rem;
  letter-spacing: 0.21375rem;
  color: hsl(278, 68%, 11%);
  text-align: center;
  margin-top: 2.1875rem;
  margin-bottom: 1rem;
}
.thankyou--div .thankyou--text {
  font-size: 1.125rem;
  line-height: 1.4375rem;
  text-align: center;
  color: hsl(279, 6%, 55%);
}

@media (max-width: 1040px) {
  body {
    background: hsl(0, 0%, 100%) url("../images/bg-main-mobile.png") no-repeat top;
    background-size: 100% 34%;
  }
  .app {
    flex-direction: column;
  }
  .cards--div {
    width: 21.4375rem;
    height: 15.6875rem;
  }
  .card--front--div {
    position: absolute;
    top: calc(100% - 9.8125rem);
    right: 0;
    background-size: contain;
    width: 17.8125rem;
    height: 9.763125rem;
    padding: 1.1em 1.1875em 1.225em;
    z-index: 2;
  }
  .card--logo {
    width: 19.947368%;
    padding-bottom: 2.3125rem;
  }
  .card--number {
    margin-bottom: 1.0625rem;
    font-size: 1.12rem;
    line-height: 1.4375rem;
    letter-spacing: 0.12rem;
  }
  .card--name--date--div {
    font-size: 0.5625rem;
    line-height: 0.6875rem;
    letter-spacing: 0.08rem;
  }
  .card--back--div {
    top: 0;
    right: 0;
    width: 17.8125rem;
    height: 9.8125rem;
    background-size: contain;
    z-index: 1;
  }
  .card--CVC {
    top: 4.6rem;
    right: 2.5rem;
    font-size: 0.5625rem;
    line-height: 0.6875rem;
    letter-spacing: 0.08rem;
  }
  .form {
    min-width: 20.4375rem;
  }
  .input--div {
    margin-bottom: 1.25rem;
  }
  #cvc {
    width: 10.25rem;
  }
  .form--expDate--cvc--div {
    gap: 0.6875rem;
  }
  .form--expDate--div {
    gap: 0.5rem;
    width: 9.5rem;
  }
  .btn {
    margin-top: 1.75rem;
  }
}/*# sourceMappingURL=main.css.map */