@import "base.scss";

* {
    box-sizing: border-box;
    margin: 0;
}
 body {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
    background: $White url("../images/bg-main-desktop.png") no-repeat top left;
}
.app {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8.8194%;
}
.cards--div {
    position: relative;
    width: 33.8125rem;
    height: 32.9375rem;
    color: $White;
    text-transform: uppercase;
}
.card--front--div {
    position: absolute;
    top: 0;
    left: 0;
    background: transparent url("../images/bg-card-front.png") no-repeat center;
    width: 27.9375rem;
    height: 15.3125rem;
    padding: 1.75em 2em 1.65em;
}
.card--logo {
    padding-bottom: 4rem;
}
.card--number {
    margin-bottom: 1.5937rem;
    font-size: 1.75rem;
    line-height: 2.25rem;
    letter-spacing: 0.21388rem;
}
.card--name--date--div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.875rem;
    line-height: 1.125rem;
    letter-spacing: 0.125rem;
}
.card--back--div {
    position: absolute;
    bottom: 0;
    right: 0;
    background: transparent url("../images/bg-card-back.png") no-repeat center;
    width: 27.9375rem;
    height: 15.3125rem;
}
.card--CVC {
    position: absolute;
    top: 6.9375rem;
    right: 3.5625rem;
    font-style: normal;
    font-size: 0.875rem;
    line-height: 1.125rem;
    letter-spacing: 0.125rem;
}

.form {
    border: 1px solid red;
    width: 26.52vw;//23.8125rem;
    //height: 22rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input {
    margin-bottom: 1.625rem;
    width: 100%;
}
.form--expDate--cvc--div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
}
.form--expDate--div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.btn {
    margin-top: 2.5rem;
}