@import "base.scss";

* {
    box-sizing: border-box;
    margin: 0;
}
 body {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
    background: $White url("../images/bg-main-desktop.png") no-repeat top left;
}
.app {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8.75vw;
}
.cards--div {
    position: relative;
    width: 37.5694vw;
    height: 32.9375rem;
    color: $White;
    text-transform: uppercase;
}
.card--front--div {
    position: absolute;
    top: 0;
    left: 0;
    background: transparent url("../images/bg-card-front.png") no-repeat center;
    width: 27.9375rem;
    height: 15.3125rem;
    padding: 1.75em 2em 1.65em;
}
.card--logo {
    padding-bottom: 4rem;
}
.card--number {
    margin-bottom: 1.5937rem;
    font-size: 1.75rem;
    line-height: 2.25rem;
    letter-spacing: 0.21388rem;
}
.card--name--date--div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.875rem;
    line-height: 1.125rem;
    letter-spacing: 0.125rem;
}
.card--back--div {
    position: absolute;
    bottom: 0;
    right: 0;
    background: transparent url("../images/bg-card-back.png") no-repeat center;
    width: 27.9375rem;
    height: 15.3125rem;
}
.card--CVC {
    position: absolute;
    top: 6.9375rem;
    right: 3.5625rem;
    font-size: 0.875rem;
    line-height: 1.125rem;
    letter-spacing: 0.125rem;
}
.form {
    width: 26.52vw;
    min-width: 23.875rem;
    display: flex;
    flex-direction: column;
}
.input--div {
    margin-bottom: 1.625rem;
}
.label {
    font-size: 0.75rem;
    line-height: 0.9375rem;
    letter-spacing: 0.125rem;
    text-transform: uppercase;
}
.error--border {
    border: 1px solid $red;
}
.normal--border {
    border: 1px solid $light-grayish-violet;
}
.input {
    padding: 0.6875rem 1rem;
    width: 100%;
    margin-top: 0.5625rem;
    border-radius: 0.5rem;
    font-size: 1.125rem;
    line-height: 1.4375rem;
    color: $very-dark-violet;
    &:focus {
        outline: none;
        background: linear-gradient($White, $White) padding-box,
        linear-gradient($linear-gradient) border-box;
        border: 1px solid transparent;  
        opacity: 1;
    }
    &:hover {
        cursor: pointer;
    }
}
.error {
    color: $red;
    margin-top: 0.3rem;
    font-size: 0.75rem;
    line-height: 0.9375rem;
}
#cvc{
    width: 191px;
}
::placeholder {
    color: $very-dark-violet;
    font-size: 1.125rem;
    line-height: 1.4375rem;
    opacity: 0.25;
}
.form--expDate--cvc--div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
}
.form--expDate--div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0.625rem;
}
.btn {
    border: none;
    background-color: $very-dark-violet;
    color: $White;
    border-radius: 0.5rem;
    margin-top: 1.625rem;
    padding-top: 0.9375rem;
    padding-bottom: 0.9375rem;
    width: 100%;
    font-size: 1.125rem;
    line-height: 1.4375rem;
    &:hover {
        cursor: pointer;
    }
}
.thankyou--div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 26.4583%;
    max-width: 23.8125rem;
    .thankyou--title {
        font-size: 1.75rem;
        line-height: 2.1875rem;
        letter-spacing: 0.21375rem;
        color: $very-dark-violet;
        text-align: center;
        margin-top: 2.1875rem;
        margin-bottom: 1rem;
    }
    .thankyou--text {
        font-size: 1.125rem;
        line-height: 1.4375rem;
        text-align: center;
        color: $dark-grayish-violet;
    }
}

@media (max-width: 1040px) {
    body {
        background: $White url("../images/bg-main-mobile.png") no-repeat top;
        background-size: 100% 34%;
    }
    .app {
        flex-direction: column;
    }
    .cards--div {
        width: 21.4375rem;
        height: 15.6875rem;
    }
    .card--front--div {
        position: absolute;
        top: calc(100% - 9.8125rem);
        right: 0;
        background-size: contain;
        width: 17.8125rem;
        height: 9.763125rem;
        padding: 1.1em 1.1875em 1.225em;
        z-index: 2;
    }
    .card--logo {
        width: 19.947368%;
        padding-bottom: 2.3125rem;
    }
    .card--number {
        margin-bottom: 1.0625rem;
        font-size: 1.12rem;
        line-height: 1.4375rem;
        letter-spacing: 0.12rem;
    }
    .card--name--date--div {
        font-size: 0.5625rem;
        line-height: 0.6875rem;
        letter-spacing: 0.080rem;
    }
    .card--back--div {
        top: 0;
        right: 0;
        width: 17.8125rem;
        height: 9.8125rem;
        background-size: contain;
        z-index: 1;
    }
    .card--CVC {
        top: 4.6rem;
        right: 2.5rem;
        font-size: 0.5625rem;
        line-height: 0.6875rem;
        letter-spacing: 0.08rem;
    }
}