@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  background: hsl(0, 0%, 100%) url("../images/bg-main-desktop.png") no-repeat top left;
}

.app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8.8194%;
}

.cards--div {
  position: relative;
  width: 33.8125rem;
  height: 32.9375rem;
  color: hsl(0, 0%, 100%);
  text-transform: uppercase;
}

.card--front--div {
  position: absolute;
  top: 0;
  left: 0;
  background: transparent url("../images/bg-card-front.png") no-repeat center;
  width: 27.9375rem;
  height: 15.3125rem;
  padding: 1.75em 2em 1.65em;
}

.card--logo {
  padding-bottom: 4rem;
}

.card--number {
  margin-bottom: 1.5937rem;
  font-size: 1.75rem;
  line-height: 2.25rem;
  letter-spacing: 0.21388rem;
}

.card--name--date--div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.875rem;
  line-height: 1.125rem;
  letter-spacing: 0.125rem;
}

.card--back--div {
  position: absolute;
  bottom: 0;
  right: 0;
  background: transparent url("../images/bg-card-back.png") no-repeat center;
  width: 27.9375rem;
  height: 15.3125rem;
}

.card--CVC {
  position: absolute;
  top: 6.9375rem;
  right: 3.5625rem;
  font-style: normal;
  font-size: 0.875rem;
  line-height: 1.125rem;
  letter-spacing: 0.125rem;
}

.form {
  width: 26.52vw;
  display: flex;
  flex-direction: column;
}

.input--div {
  margin-bottom: 1.625rem;
}

.label {
  font-size: 0.75rem;
  line-height: 0.9375rem;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
}

.error--border {
  border: 1px solid hsl(0, 100%, 66%);
}

.normal--border {
  border: 1px solid hsl(270, 3%, 87%);
}

.input {
  padding: 0.6875rem 1rem;
  width: 100%;
  margin-top: 0.5625rem;
  border-radius: 0.5rem;
}
.input:focus {
  outline: none;
  background: linear-gradient(hsl(0, 0%, 100%), hsl(0, 0%, 100%)) padding-box, linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%)) border-box;
  border: 1px solid transparent;
  opacity: 1;
}
.input:hover {
  cursor: pointer;
}

.error {
  color: hsl(0, 100%, 66%);
  margin-top: 0.3rem;
  font-size: 0.75rem;
  line-height: 0.9375rem;
}

#cvc {
  width: 191px;
}

::-moz-placeholder {
  color: hsl(278, 68%, 11%);
  font-size: 1.125rem;
  line-height: 1.4375rem;
  opacity: 0.25;
}

::placeholder {
  color: hsl(278, 68%, 11%);
  font-size: 1.125rem;
  line-height: 1.4375rem;
  opacity: 0.25;
}

.form--expDate--cvc--div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}

.form--expDate--div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0.625rem;
}

.btn {
  border: none;
  background-color: hsl(278, 68%, 11%);
  color: hsl(0, 0%, 100%);
  border-radius: 0.5rem;
  margin-top: 1.625rem;
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
  width: 100%;
  font-size: 1.125rem;
  line-height: 1.4375rem;
}
.btn:hover {
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */