/*Primary*/
/*Neutral*/
/*Gradients*/
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  background-image: url(../images/bg-pattern-desktop.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.app {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.header {
  grid-column: 2/8;
  grid-row: 1/5;
}

.header--img {
  margin-top: 5rem;
}

.main {
  grid-column: 2/8;
  grid-row: 5/-1;
}

.main--heading {
  margin: 0;
  width: 100%;
  max-width: 27.75rem;
  font-weight: 300;
  font-size: 4rem;
  color: hsl(0deg, 36%, 70%);
  letter-spacing: 1.08rem;
  line-height: 4.43rem;
}
.main--heading span {
  font-weight: 600;
  color: hsl(0deg, 6%, 24%);
}

.main--text {
  font-weight: 400;
  line-height: 1.74rem;
  color: hsl(0deg, 36%, 70%);
  max-width: 27.75rem;
}

.form {
  width: 27.8rem;
  height: 3.5rem;
  position: relative;
  margin: 2rem 0;
}

.email--input {
  font-weight: 400;
  border: 1px solid hsl(0deg, 36%, 70%);
  border-radius: 2.5rem;
  width: 27.81rem;
  height: 3.5rem;
  background: none;
  color: hsl(0deg, 6%, 24%);
  opacity: 0.6;
  padding-left: 2em;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
}
.email--input:focus {
  outline: 1px solid #a39999;
}

::-moz-placeholder {
  color: hsl(0deg, 36%, 70%);
  font-family: "Josefin Sans", sans-serif;
}

::placeholder {
  color: hsl(0deg, 36%, 70%);
  font-family: "Josefin Sans", sans-serif;
}

.form--button {
  position: absolute;
  right: -0.5rem;
  top: -0.02rem;
  width: 6.25rem;
  height: 3.6rem;
  border-radius: 2.5rem;
  border: none;
  background: linear-gradient(135deg, hsl(0deg, 80%, 86%), hsl(0deg, 74%, 74%));
  box-shadow: 0px 15px 20px rgba(198, 110, 110, 0.247569);
}
.form--button:hover {
  cursor: pointer;
  background: #f1c2c2;
  box-shadow: 0px 15px 20px rgba(198, 110, 110, 0.247569);
}

.hero--image-div {
  grid-column: 8/-1;
  grid-row: 1/-1;
}

.hero--image {
  width: 100%;
  max-width: 45rem;
  height: 50rem;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (max-width: 940px) {
  .header {
    grid-column: 1/8;
  }
  .main {
    grid-column: 1/8;
  }
}
@media only screen and (max-width: 840px) {
  .app {
    display: flex;
    flex-direction: column;
  }
  .header {
    display: flex;
    align-items: center;
  }
  .hero--image-div {
    margin-bottom: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header--img {
    margin: 2rem;
    width: 6.25rem;
    height: 1.31rem;
  }
  .hero--image {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main--heading {
    text-align: center;
  }
  .main--text {
    text-align: center;
  }
}
@media only screen and (max-width: 550px) {
  .form {
    width: 80%;
    min-width: 19.43rem;
    min-height: 3rem;
  }
  .email--input {
    width: 100%;
    min-width: 19.43rem;
    min-height: 3rem;
  }
  .hero--image-div {
    margin-bottom: 4rem;
  }
}
@media only screen and (max-width: 400px) {
  .form {
    width: 19.43rem;
    height: 3rem;
  }
  .email--input {
    width: 19.43rem;
    height: 3rem;
  }
  .form--button {
    height: 3rem;
    width: 4rem;
  }
  .main {
    margin: 0 1.5rem;
  }
  .main--heading {
    font-size: 2.5rem;
    text-align: center;
  }
  .main--text {
    font-size: 0.875rem;
    text-align: center;
  }
}/*# sourceMappingURL=main.css.map */