@import "./base";

@import url(
    'https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap'
);

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    height: 100vh;
    @extend %center;
    background: linear-gradient(
        180deg,
        $softViolet 0%,
        $softBlue 100%
    );
}

.faq--card {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 57.5rem;
}
