@import "./base";

@import url(
    'https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap'
);

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

.rotate {
    transform: rotate(180deg);
}

#question--active {
    color: $veryDarkDesaturatedBlue;
    font-weight: 700;
    &:hover {
        color: $softRed
    }
}

body {
    height: 100vh;
    @extend %center;
    background: linear-gradient(
        180deg,
        $softViolet 0%,
        $softBlue 100%
    );
}

.faq--card {
    display: grid;
    grid-template-columns: repeat(2, 28.75rem);
    max-width: 57.5rem;
    background-color: #fff;
    border-radius: 1.43rem;
    box-shadow: 0 3.125rem 3.125rem -1.25rem
        rgba(53, 18, 122, 0.497159);
}

.image--div {
    position: relative;
    background-image: url(../images/bg-pattern-desktop.svg),
                      url(../images/illustration-woman-online-desktop.svg);
    background-size: 220%, 103%;
    background-repeat: no-repeat;
    background-position: -38.5rem -18rem, -5rem 5rem;
    img {
        position: absolute;
        top: 12.5rem;
        left: -5.7rem;
    }
}

.faq--div {
    padding: 4.65rem;
    padding-left: 0;
    h1 {
        color: $veryDarkDesaturatedBlue;
        margin-bottom: 2.6875rem;
        font-size: 2rem;
    }
}

.question-answers--div {
    width: 21.875rem;
    margin: 1.125rem;
    margin-left: 0;
}

.questions--div {
    p {
        font-size: 0.75rem;
        line-height: 1.125rem;
        color: $darkGrayishBlue;
        margin-bottom: 1rem;
    }
    margin-bottom: 1rem;
    hr {
        border: 1px solid $lightGrayishBlue;
    }
}

.question {
    display: flex;
    justify-content: space-between;
    img {
        object-fit: contain;
        width: 1rem;
        height: 0.5rem;
    }
    h3 {
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.06rem;
        color: $darkGrayishBlue;
        margin-bottom: 0.6875rem;
        &:hover {
            color: $softRed
        }
    }
    &:hover {
        cursor: pointer;
    }
}


@media (max-width: 1040px) {
    .faq--card {
        display: grid;
        grid-template-columns: 20.4375rem;
        grid-template-rows: 8.25rem  25.1875rem;
    }
    .image--div {
        position: relative;
        background-image: url(../images/bg-pattern-mobile.svg);
        background-size: 14.81rem;
        background-position: 2.5rem 0;
        img {
            position: absolute;
            width: 14.81rem;
            top: -7rem;
            left: 2.5rem;
        }
    }
    .faq--div {
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 3rem;
        h1 {
            margin-bottom: 1.875rem;
        }
    }
    .question-answers--div {
        width: 17.4375rem;
        margin: 0;
    }
    .questions--div {
        margin-bottom: 1rem;
        hr {
            border: 1px solid $lightGrayishBlue;
        }
    }
    .question {
        img {
            width: 1rem;
            height: 0.5rem;
        }
        h3 {
            font-size: 0.8125rem;
            line-height: 1rem;
            margin-bottom: 0.4rem;
        }
    }
}