@import "./base";

@import url(
    'https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap'
);

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    height: 100vh;
    @extend %center;
    background: linear-gradient(
        180deg,
        $softViolet 0%,
        $softBlue 100%
    );
}

.faq--card {
    display: grid;
    grid-template-columns: repeat(2, 28.75rem);
    max-width: 57.5rem;
    background-color: #fff;
    border-radius: 1.43rem;
    box-shadow: 0 3.125rem 3.125rem -1.25rem
        rgba(53, 18, 122, 0.497159);
}

.image--div {
    position: relative;
    background-image: url(../images/bg-pattern-desktop.svg),
                      url(../images/illustration-woman-online-desktop.svg);
    background-size: 240%, 103%;
    background-repeat: no-repeat;
    background-position: -44.5rem -20rem, -5.5rem 10rem;
    img {
        position: absolute;
        top: 18rem;
        left: -5.7rem;
    }
}

.faq--div {
    padding: 2.6875rem;
    padding-left: 0;
    h1 {
        color: $veryDarkDesaturatedBlue;
        margin-bottom: 2.6875rem;
    }
}

.question-answers--div {
    width: 21.875rem;
    margin: 1.125rem;
    margin-left: 0;
}

.questions--div {
    p {
        font-size: 0.75rem;
        line-height: 1.125rem;
        color: $darkGrayishBlue;
    }
    margin-bottom: 1rem;
}

.question {
    display: flex;
    justify-content: space-between;
    img {
        object-fit: contain;
        width: 0.5rem;
    }
    h3 {
        font-size: 0.875rem;
        line-height: 1.06rem;
        color: $veryDarkDesaturatedBlue;
    }
}
