* {
  box-sizing: border-box;
}

.btn {
  border: none;
  padding: 1rem 2rem;
  border-radius: 2rem;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}

body {
  margin: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 52rem 55rem 7rem;
}
@media only screen and (max-width: 980px) {
  body {
    grid-template-rows: 37rem 70rem 5rem;
  }
}
@media only screen and (max-width: 735px) {
  body {
    grid-template-columns: 100%;
    grid-template-rows: 30rem 23rem 132rem 5rem;
  }
}
body header {
  grid-column: 1/2;
  grid-row: 1/2;
}
body header #logo-dark {
  margin: 2rem 0 0 11rem;
}
@media only screen and (max-width: 1050px) {
  body header #logo-dark {
    margin: 1.5rem 0 0 5rem;
  }
}
@media only screen and (max-width: 735px) {
  body header #logo-dark {
    margin: 1.5rem 0 0 4rem;
  }
}
@media only screen and (max-width: 490px) {
  body header #logo-dark {
    margin: 1.5rem 0 0 2rem;
    width: 5rem;
  }
}
body header .info {
  width: 29rem;
  margin-left: 10rem;
  margin-top: 13rem;
}
@media only screen and (max-width: 1050px) {
  body header .info {
    margin-left: 5rem;
  }
}
@media only screen and (max-width: 980px) {
  body header .info {
    width: 23rem;
    margin-top: 7rem;
  }
}
@media only screen and (max-width: 735px) {
  body header .info {
    width: 20rem;
    margin-left: 4rem;
    margin-top: 4rem;
  }
}
@media only screen and (max-width: 490px) {
  body header .info {
    width: 18rem;
    margin-left: 2rem;
    margin-top: 3rem;
  }
}
body header .info h1 {
  font-size: 3.5rem;
  font-weight: 800;
  color: #13183F;
}
@media only screen and (max-width: 980px) {
  body header .info h1 {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 490px) {
  body header .info h1 {
    font-size: 2rem;
  }
}
body header .info p {
  font-size: 1.2rem;
  color: #83869A;
  padding-bottom: 2rem;
}
@media only screen and (max-width: 980px) {
  body header .info p {
    font-size: 0.9rem;
  }
}
@media only screen and (max-width: 490px) {
  body header .info p {
    font-size: 0.95rem;
  }
}
body header .btn-header {
  background: linear-gradient(180deg, #F02AA6 0%, #FF6F48 100%);
  color: #FFFFFF;
}
body header .btn-header:hover {
  opacity: 0.68;
}
@media only screen and (max-width: 490px) {
  body header .btn-header {
    margin-top: 1rem;
  }
}
body aside {
  grid-column: 2/-1;
  grid-row: 1/2;
}
@media only screen and (max-width: 735px) {
  body aside {
    grid-column: 1/-1;
    grid-row: 2/3;
  }
}
body aside #image {
  position: relative;
  width: 68rem;
  bottom: 28%;
  left: 0%;
  z-index: 0;
}
@media only screen and (max-width: 1300px) {
  body aside #image {
    left: -10%;
  }
}
@media only screen and (max-width: 1050px) {
  body aside #image {
    bottom: 25%;
    left: 0;
    width: 50rem;
  }
}
@media only screen and (max-width: 980px) {
  body aside #image {
    bottom: 20%;
    left: 0;
    width: 40rem;
  }
}
@media only screen and (max-width: 735px) {
  body aside #image {
    bottom: 20%;
    margin: 0 auto;
    width: 30rem;
  }
}
@media only screen and (max-width: 490px) {
  body aside #image {
    left: -1rem;
    width: 25rem;
  }
}
body aside .btn-aside {
  background-color: #13183F;
  color: #FFFFFF;
  position: relative;
  left: 55%;
  margin-top: 1.5rem;
  z-index: 1;
}
body aside .btn-aside:hover {
  background-color: #666CA3;
}
@media only screen and (max-width: 1300px) {
  body aside .btn-aside {
    left: 50%;
  }
}
@media only screen and (max-width: 735px) {
  body aside .btn-aside {
    bottom: 55.5rem;
    left: 60%;
  }
}
@media only screen and (max-width: 630px) {
  body aside .btn-aside {
    bottom: 31rem;
    left: 21rem;
  }
}
@media only screen and (max-width: 490px) {
  body aside .btn-aside {
    bottom: 30.5rem;
    left: 13rem;
    padding: 0.7rem 1.5rem;
  }
}
body main {
  grid-column: 1/-1;
  grid-row: 2/3;
  background: linear-gradient(180deg, #FFFFFF 0%, #F0F1FF 100%);
}
@media only screen and (max-width: 735px) {
  body main {
    grid-column: 1/-1;
    grid-row: 3/4;
  }
}
body main .grid-courses {
  width: 72rem;
  height: 50rem;
  margin: 3rem auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
}
@media only screen and (max-width: 1300px) {
  body main .grid-courses {
    width: 60rem;
  }
}
@media only screen and (max-width: 980px) {
  body main .grid-courses {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    width: 47rem;
    height: 48rem;
  }
}
@media only screen and (max-width: 735px) {
  body main .grid-courses {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    width: 23rem;
    height: 48rem;
  }
}
@media only screen and (max-width: 490px) {
  body main .grid-courses {
    width: 20rem;
    height: 45rem;
  }
}
body main .grid-courses #first {
  background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
  color: #FFFFFF;
  font-size: 1.3rem;
  padding: 2rem 2rem 1rem 2rem;
}
@media only screen and (max-width: 980px) {
  body main .grid-courses #first {
    font-size: 1rem;
    padding: 3rem 2rem 1rem 2.5rem;
  }
}
body main .grid-courses .courses {
  height: 20rem;
  margin: 1.5rem 1rem;
  background-color: #FFFFFF;
  border-radius: 0.75rem;
}
@media only screen and (max-width: 980px) {
  body main .grid-courses .courses {
    height: 18rem;
  }
}
body main .grid-courses .courses img {
  position: relative;
  bottom: 1.5rem;
  left: 1.5rem;
}
body main .grid-courses .courses h3, body main .grid-courses .courses p, body main .grid-courses .courses a {
  margin: 0.5rem 1rem 1rem 2rem;
}
body main .grid-courses .courses h3 {
  padding-bottom: 1rem;
  font-weight: 900;
}
body main .grid-courses .courses p {
  height: 7.5rem;
}
@media only screen and (max-width: 980px) {
  body main .grid-courses .courses p {
    height: 6rem;
  }
}
body main .grid-courses .courses a {
  color: #F74780;
  font-weight: 700;
}
body footer {
  grid-column: 1/-1;
  grid-row: 3/-1;
  background-color: #13183F;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 10rem;
}
@media only screen and (max-width: 1050px) {
  body footer {
    padding: 1rem 5rem;
  }
}
@media only screen and (max-width: 980px) {
  body footer {
    padding: 1rem 5rem;
  }
}
@media only screen and (max-width: 735px) {
  body footer {
    grid-column: 1/-1;
    grid-row: 4/-1;
    padding: 1rem 2.5rem;
  }
}
@media only screen and (max-width: 490px) {
  body footer {
    padding: 1rem 1.8rem;
  }
}
body footer .btn-footer {
  background: linear-gradient(180deg, #4851FF, #F02AA6);
  color: #FFFFFF;
}
body footer .btn-footer:hover {
  background: linear-gradient(180deg, #8a8fec, #e891c8);
}/*# sourceMappingURL=main.css.map */