@import "./base";

* {
    box-sizing: border-box;
}

.btn {
    border: none;
    padding: 1rem 2rem;
    border-radius: 2rem;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
}

body {
    margin: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 52rem 55rem 7rem;
    @media only screen and (max-width: 980px) {
        grid-template-rows: 37rem 70rem 5rem;
    }
    @media only screen and (max-width: 735px) {
        grid-template-columns: 100%;
        grid-template-rows: 30rem 23rem 132rem 5rem;
    }
    header {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        #logo-dark {
            margin: 2rem 0 0 11rem;
            @media only screen and (max-width: 1050px) {
                margin: 1.5rem 0 0 5rem;
            }
            @media only screen and (max-width: 735px) {
                margin: 1.5rem 0 0 4rem;
            }
            @media only screen and (max-width: 490px) {
                margin: 1.5rem 0 0 2rem;
                width: 5rem;
            }
        }
        .info {
            width: 29rem;
            margin-left: 10rem;
            margin-top: 13rem;
            @media only screen and (max-width: 1050px) {
                margin-left: 5rem;
            }
            @media only screen and (max-width: 980px) {
                width: 23rem;
                margin-top: 7rem;
            }
            @media only screen and (max-width: 735px) {
                width: 20rem;
                margin-left: 4rem;
                margin-top: 4rem;
            }
            @media only screen and (max-width: 490px) {
                width: 18rem;
                margin-left: 2rem;
                margin-top: 3rem;
            }
            h1 {
                font-size: 3.5rem;
                font-weight: 800;
                color: $heading;
                @media only screen and (max-width: 980px) {
                    font-size: 2.5rem;
                }
                @media only screen and (max-width: 490px) {
                    font-size: 2rem;
                }
            }
            p {
                font-size: 1.2rem;
                color: $text;
                padding-bottom: 2rem;
                @media only screen and (max-width: 980px) {
                    font-size: 0.9rem;
                }
                @media only screen and (max-width: 490px) {
                    font-size: 0.95rem;
                }
            }
        }
        .btn-header {
            background: linear-gradient(
                180deg, 
                #F02AA6 0%, 
                #FF6F48 100%
            );
            color: $backgroundColor1;
            &:hover {
                opacity: 0.68;
            }
            @media only screen and (max-width: 490px) {
                margin-top: 1rem;;
            }
        }
    }
    aside {
        grid-column: 2 / -1;
        grid-row: 1 / 2;
        @media only screen and (max-width: 735px) {
            grid-column: 1 / -1;
            grid-row: 2 / 3;
        }
        #image {
            position: relative;
            width: 68rem;
            bottom: 28%;
            left: 0%;
            z-index: 0;
            @media only screen and (max-width: 1300px) {
                left: -10%;
            }
            @media only screen and (max-width: 1050px) {
                bottom: 25%;
                left: 0;
                width: 50rem;
            }
            @media only screen and (max-width: 980px) {
                bottom: 20%;
                left: 0;
                width: 40rem;
            }
            @media only screen and (max-width: 735px) {
                bottom: 20%;
                margin: 0 auto;
                width: 30rem;
            }
            @media only screen and (max-width: 490px){
                left: -1rem;
                width: 25rem;
            }
        }
        .btn-aside {
            background-color: $heading;
            color: $backgroundColor1;
            position: relative;
            left: 55%;
            margin-top: 1.5rem;
            z-index: 1;
            &:hover {
                background-color: $backgroundColor2; 
            }
            @media only screen and (max-width: 1300px) {
                left: 50%;
            }
            @media only screen and (max-width: 735px) {
                bottom: 55.5rem;
                left: 60%;
            }
            @media only screen and (max-width: 630px) {
                bottom: 31rem;
                left: 21rem;
            }
            @media only screen and (max-width: 490px) {
                bottom: 30.5rem;
                left: 13rem;
                padding: 0.7rem 1.5rem;
            }
        }
    }
    main {
        grid-column: 1 / -1;
        grid-row: 2 / 3;
        background: linear-gradient(
            180deg, 
            $backgroundColor1 0%,
            #F0F1FF 100%
        );
        @media only screen and (max-width: 735px) {
            grid-column: 1 / -1;
            grid-row: 3 / 4;
        }
        .grid-courses {
            width: 72rem;
            height: 50rem;
            margin: 3rem auto;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 1fr 1fr;
            @media only screen and (max-width: 1300px) {
                width: 60rem;
            }
            @media only screen and (max-width: 980px) {
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: 1fr 1fr 1fr;
                width: 47rem;
                height: 48rem;
            }
            @media only screen and (max-width: 735px) {
                grid-template-columns: repeat(1, 1fr);
                grid-template-rows: repeat(6, 1fr);
                width: 23rem;
                height: 48rem;
            }
            @media only screen and (max-width: 490px) {
                width: 20rem;
                height: 45rem;
            }
            #first {
                background: linear-gradient(
                    180deg,
                    #FF6F48 0%, 
                    #F02AA6 100%
                );
                color: $backgroundColor1;
                font-size: 1.3rem;
                padding: 2rem 2rem 1rem 2rem;
                @media only screen and (max-width: 980px) {
                    font-size: 1rem;
                    padding: 3rem 2rem 1rem 2.5rem;
                }
            }
            .courses {
                height: 20rem;
                margin: 1.5rem 1rem;
                background-color: $backgroundColor1;
                border-radius: 0.75rem;
                @media only screen and (max-width: 980px) {
                    height: 18rem;
                }
                img {
                    position: relative;
                    bottom: 1.5rem;
                    left: 1.5rem;
                }
                h3, p, a {
                    margin: 0.5rem 1rem 1rem 2rem;
                }
                h3 {
                    padding-bottom: 1rem;
                    font-weight: 900;
                }
                p {
                    height: 7.5rem;
                    @media only screen and (max-width: 980px) {
                        height: 6rem
                    }
                }
                a {
                    color: $getStarted;
                    font-weight: 700;
                }
            }
        }
    }
    footer {
        grid-column: 1 / -1;
        grid-row: 3 / -1;
        background-color: $heading;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 10rem;
        @media only screen and (max-width: 1050px) {
            padding: 1rem 5rem;
        }
        @media only screen and (max-width: 980px) {
            padding: 1rem 5rem;
        }
        @media only screen and (max-width: 735px) {
            grid-column: 1 / -1;
            grid-row: 4 / -1;
            padding: 1rem 2.5rem;
        }
        @media only screen and (max-width: 490px) {
            padding: 1rem 1.8rem;
        }
        .btn-footer {
            background: linear-gradient(
                180deg, 
                #4851FF,
                #F02AA6
            );
            color: $backgroundColor1;
            &:hover {
                background: linear-gradient(
                180deg, 
                #8a8fec,
                #e891c8
            );
            }
        }
    }
}
