@import "./base";

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}
body {
    margin: 0 auto;
    background-color: $navyblue;
    color: $crem;
    font-family: monospace, Arial, Helvetica, sans-serif;
    height: 100%;
    min-height: 100vh;
    background-image: linear-gradient(62deg, $navyblue 0%, $cornflower 100%); 
}
header {
    background-color: $burnt-orange;
    padding: 1rem 3rem 1rem;
    box-shadow: 0 2px 0 rgb(0 0 0 / 40%);
}
.heading {
    margin: 0;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#slides--div {
    position: relative;
    width: 50%;
    min-width: 20rem;
    max-width: 55rem;
    min-height: 20rem;
    margin-top: 2rem;
}
.btn {
    position: absolute;
    padding: 5% 2.5%;
    font-size: 1.5em;
    border: none;
    border-radius: 15%;
    background-color: $crem;
    &:hover {
        cursor: pointer;
        background-color: #b6b6b6;
    }
}
#btn--prev {
    top: 50%;
    left: 0%;
    transform: translate(-50%, -50%);
}
#btn--next {
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
}
.challenge-card {
    background-color: $cornflower;
    height: 100%;
    padding: 5%;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
}
.project-link {
    text-decoration: none;
    display: block;
    width: 100%;
    min-width: 15rem;
    max-width: 50rem;
    height: 60dvh;
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
}

.project-img {
    width: 100%;
    height: 100%;
    object-fit:contain;
    display: block;
    border: 3px solid $cornflower;
    transition: border-color 0.3s ease;
    
    &:hover {
        border-color: red;
    }
}
.project-title {
    text-decoration: none;
    color: $crem;
    text-align: center;
    margin: 0;
    margin-top: 1%;
}
@media (max-width: 585px) {
    header {
        padding: 1rem 1rem 1rem;
    }
    .heading {
        margin: 0;
        font-size: 1em;
    }
    main {
        margin: 1rem;
        display: flex;
        gap: 1rem;
    }
    .challenge-card {
        width: 100%;
    }
    .project-title {
        font-size: 0.8em;
    }
    .btn {
        font-size: 1em;
    }
}