:root {
    --backgroundColor1: #FFFFFF;
    --backgroundColor2: #666CA3;
    --heading: #13183F;
    --text: #83869A;
    --getStarted: #F74780;
    --getStartedHover: #FFA7C3;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #F2F2F2;
    font-family: 'Plus Jakarta Sans', sans-serif;
    background: linear-gradient(180deg, var(--backgroundColor1) 0%, #F0F1FF 100%);
    overflow-x: hidden;
    overflow-y: scroll;
}

footer {
    background-color: #13183F;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 2rem 8rem;
}

#image {
    position: absolute;
    width: 45rem;
    left: 37rem;
    bottom: 11rem;
    opacity: 0.68;
}

.info {
    width: 24.5rem;
    margin-left: 8rem;
    margin-top: 10rem;
}

.info > h1 {
    font-size: 3rem;
    font-weight: 800;
}

.info > p {
    color: var(--text);
}

.grid-courses {
    margin-top: 10rem;
}

