:root {
    --backgroundColor1: #FFFFFF;
    --backgroundColor2: #666CA3;
    --heading: #13183F;
    --text: #83869A;
    --getStarted: #F74780;
    --getStartedHover: #FFA7C3;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #F2F2F2;
    font-family: 'Plus Jakarta Sans', sans-serif;
    background: linear-gradient(180deg, var(--backgroundColor1) 0%, #F0F1FF 100%);
    overflow-x: hidden;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 45% 5%;
}

header {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

aside {
    grid-column: 2 / -1;
    grid-row: 1 / 2;
}

main {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
}

footer {
    grid-column: 1 / -1;
    grid-row: 3 / -1;
    background-color: #13183F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 8rem;
}

#image {
    position: relative;
    width: 50rem;
    bottom: 6rem;
    left: 8rem;
    opacity: 0.68;
}

#logo-dark {
    margin: 2rem 0 0 8rem;
}

.info {
    width: 24.5rem;
    margin-left: 8rem;
    margin-top: 10rem;
}

.info > h1 {
    font-size: 3rem;
    font-weight: 800;
}

.info > p {
    color: var(--text);
}

.grid-courses {
    width: 60rem;
    margin: 5rem auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
}

.grid-divs {
    width: 15rem;
    height: 13rem;
    margin: 0;
}

