@import "./base";

*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
html, body {
    height: 100%;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: 'Poppins', sans-serif;
}
.root {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $Off-white;
}
.calculator {
    width: 58.33%;
    padding: 3.5rem;
    border-radius: 1.5rem 1.5rem 12.5rem 1.5rem;
    background-color: $White;
}
.form {
    display: flex;
    align-items: center;
    gap: 2rem;
}
.input--div {
    display: flex;
    flex-direction: column;
}
.label {
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.3125rem;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    color: $Smokey-grey;
    margin-bottom: 0.5rem;
}
.input {
    width: 10rem;
    padding: 12px 24px;
    font-weight: 700;
    letter-spacing: 0.01em;
    font-size: 2rem;
    line-height: 3rem;
    color: $Off-black;
    border-radius: 0.5rem;
    &:focus {
        outline: none;
        border: 1px solid $Purple;
    }
}
.input--error--border {
    border: 1px solid $LightRed;
}
.input--normal--border {
    border: 1px solid $Light-grey;
}
.error--color {
     color: $LightRed;
}
.error--text {
    font-size: 0.875rem;
    line-height: 1.13175rem;
}
.btn--div {
    display: flex;
    align-items: center;
}
.divider {
    width: 39.5rem;
    background-color: $Light-grey;
}
.btn {
    border-radius: 50%;
    height: 6rem;
    width: 6rem;
    background-color: $Purple;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.title--age {
    font-weight: 800;
    font-style: italic;
    font-size: 6.5rem;
    line-height: 7.15rem;
    color: $Off-black;
}
.age {
    color: $Purple;
}