@import "./base";

* {
    margin: 0;
}
html, body {
    height: 100%;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
.root {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form {
    display: flex;
    align-items: center;
}
.btn--div {
    display: flex;
    align-items: center;
}
.divider {
    width: 39.5rem;
}
.btn {
    border-radius: 50%;
    height: 6rem;
    width: 6rem;
    background-color: $Off-black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}