@import "./base";

*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
html, body {
    height: 100%;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: 'Poppins', sans-serif;
}
.root {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $Off-white;
}
.calculator {
    width: 52.5rem;
    padding: 3.5rem;
    border-radius: 1.5rem 1.5rem 12.5rem 1.5rem;
    background-color: $White;
}
.form {
    display: flex;
    gap: 2rem;
}
.input--div {
    display: flex;
    flex-direction: column;
}
.label {
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.3125rem;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    color: $Smokey-grey;
    margin-bottom: 0.5rem;
}
.input {
    width: 10rem;
    padding: 0.75rem 1.5rem;
    font-weight: 700;
    letter-spacing: 0.01em;
    font-size: 2rem;
    line-height: 3rem;
    color: $Off-black;
    border-radius: 0.5rem;
    &:focus {
        outline: none;
        border: 1px solid $Purple;
    }
}
.input--error--border {
    border: 1px solid $LightRed;
}
.input--normal--border {
    border: 1px solid $Light-grey;
}
.error--color {
     color: $LightRed;
}
.error--text {
    font-size: 0.875rem;
    line-height: 1.13175rem;
}
.btn--div {
    display: flex;
    align-items: center;
}
.divider {
    width: 39.5rem;
    background-color: $Light-grey;
}
.btn {
    border-radius: 50%;
    height: 6rem;
    width: 6rem;
    background-color: $Purple;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s linear;
    &:active {
        transform: scale(0.98);
        box-shadow: 3px 2px 1rem 1px rgba(0,0,0,0.25);
    }
}
.title--age {
    font-weight: 800;
    font-style: italic;
    font-size: 6.5rem;
    line-height: 7.15rem;
    color: $Off-black;
}
.age {
    color: $Purple;
}
@media (max-width: 890px) {
    .calculator {
        width: 21.43rem;
        padding: 3rem 1.5rem;
        border-radius: 1.5rem 1.5rem 6.25rem 1.5rem;
        background-color: $White;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
    .form {
        gap: 1rem;
    }
    .input--div {
        display: flex;
        flex-direction: column;
    }
    .label {
        font-size: 0.75rem;
        line-height: 1.125rem;
        margin-bottom: 0.25rem;
    }
    .input {
        width: 5.47rem;
        padding: 0.75rem 1rem;
        font-size: 1.25rem;
        line-height: 1.875rem;
    }
    .btn--div {
        display: flex;
        align-items: center;
        position: relative;
        height: 4rem;
    }
    .divider {
        width: 18.43rem;
        background-color: $Light-grey;
    }
    .btn {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        height: 4rem;
        width: 4rem;
        background-color: $Purple;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .title--age {
        font-size: 3.5rem;
        line-height: 3.85rem;
    }
}
